.users-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  overflow-y: hidden;
  position: relative;
  height: 100vh;
  padding-bottom: 1rem;

  .sort-select {
    margin-bottom: 10px;
    select {
      height: 40px;
      border: 1px solid #ccc;
      border-radius: 4px;
      padding: 12px 20px;
      margin: 8px 0;
      box-sizing: border-box;
    }
  }

  .users-list {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 1rem;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 1rem;

    .user {
        text-decoration: none;
        color: #000;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        transition: all 0.2s ease-in-out;
        cursor: pointer;
    
        &:hover {
            transform: scale(1.05);
        }
    
        .user-info {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            margin-bottom: 1rem;
  
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 50%;
            }
  
        }
  
        .user-name {
            font-size: 1rem;
            font-weight: 500;
            margin-bottom: 0.25rem;
            width: 100%;
            text-align: center;
        }
  
        .user-type {
            font-size: 0.75rem;
            font-weight: 400;
            color: #999;
        }
    }
  }
}
