<div class="container">
  <div class="search-form">
    <!-- Search form -->
    <form [formGroup]="searchForm" (ngSubmit)="onSubmit()" class="form-group">
      <div class="form-control">
        <label for="search">Search Github Users</label>
        <input
          type="text"
          class="form-input"
          id="search"
          placeholder="Search"
          formControlName="search"
        />
        <div class="actions">
            <button type="submit" class="btn btn-primary" style="margin-right: 0.25rem;">Submit</button>
            <button type="submit" class="btn btn-secondary">Clear</button>
        </div>
      </div>
    </form>
  </div>
  <div class="users-list">
    <p>users</p>
  </div>
</div>
